.card{
  font-size: 16px; 
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 100%;
  transform: scale(1);
  transition: all .5s ease;
  padding-bottom: 15px;
  &:hover{
    transform: scale(1.05); 
    
  }
  .body{
    
    cursor: pointer;
    position: relative;
    background-color: rgb(190, 190, 190);
    background-color: #bebebe;
    min-height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    .text{
      font-weight: 700;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 24px;
      opacity: .8;
      pointer-events: none;
      user-select: none;
    }



  }

  .buttons{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    .button{
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      cursor: pointer;
      padding: 15px 5px;
      border: 0;
      background-color: rgb(38, 197, 115);
      color: rgb(255, 255, 255);
      font-size: 16px; 
      border-radius: 6px;
    }

  }

  .remove{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    padding: 15px 5px;
    border: 0;
    background-color: #e86796;
    color: rgb(255, 255, 255);
    font-size: 16px; 
    border-radius: 6px;
  }

}