.card{
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 300px;
  transform: scale(1);
  transition: all .3s ease;
  padding-bottom: 15px;
  .body{
    
    cursor: pointer;
    position: relative;
    background-color: rgb(190, 190, 190);
    min-height: 400px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    .text{
      font-weight: 700;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 24px;
      opacity: .8;
    }
    

  }

  .buttons{
    display: flex;
    justify-content: space-between;
    .button{
      cursor: pointer;
      padding: 15px 25px;
      border: 0;
      background-color: rgb(38, 197, 115);
      color: rgb(255, 255, 255);

      border-radius: 6px;
    }
    &:hover{
      transform: scale(1.05); 
    }
  }


}

